body {
    display: flex;
    justify-content: center;
}
.main {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section {
    width: 330px;
    height: 480px;
}
.sedans-background-color{
    background-color: orange;
    border-radius: 10px 10px 0px 0px;
}
.suvs-background-color {
    background-color: hsl(184, 100%, 22%);
}
.luxury-background-color {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
}
.image {
    margin-top: 50px;
    margin-left: 40px;
}
.title {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-left: 40px;
    margin-top: 20px;
    color: white;
}
.text {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    margin-left: 40px;
    margin-right: 50px;
    color: white;
}
.learn-more-properties {
    padding: 10px 30px 10px 30px;
    border: 5px solid white;
    border-radius: 25px 25px 25px 25px;
    margin: 10px 0px 0px 40px;
    font-size: 1rem;
    background-color: white;
}
.sedan-button-color {
    color: orange;
}
.suvs-button-color {
    color: hsl(184, 100%, 22%);
}
.luxury-button-color {
    color: hsl(179, 100%, 13%);
}